package pages

import "blog.simoni.dev/templates"

templ NotFoundPage() {
    if templates.IsHxRequest(ctx) {
            @HxPage() {
                @NotFoundComponent()
            }
        } else {
            @Base() {
                @NotFoundComponent()
            }
        }
}

templ NotFoundComponent() {
    <h3 class="mb-4">The content you were looking for could not be found.</h3>
}