{{ if not .isHXRequest }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <script src="/js/htmx.min.js"></script>
</head>

<body class="bg-neutral-900 text-white">
<div class="sticky top-0 flex justify-between w-full bg-neutral-800 px-4 z-50">
  <div class="flex h-100 items-center">
    <span class="text-2xl">blog.simoni.dev</span>
  </div>
  <!-- Use <nav> element here -->
  <div>
    <ul class="flex list-none items-stretch">
      <li
              hx-boost="true" hx-target="#main-container" hx-swap="innerHTML swap:300ms settle:300ms show:window:top"
              class="flex pt-1 mr-6 hover:text-purple-600 hover:border-b-purple-600 border-b-2 border-b-transparent transition-all">
        <a class="flex py-4 items-center static text-2xl" href="/">Home</a>
      </li>
      <li
              class="flex pt-1 mr-6 hover:text-purple-600 hover:border-b-purple-600 border-b-2 border-b-transparent transition-all">
        <a class="flex py-4 items-center static text-2xl" href="https://simoni.dev/">Portfolio</a>
      </li>
      <li
              class="hidden flex pt-1 mr-6 hover:text-purple-600 hover:border-b-purple-600 border-b-2 border-b-transparent transition-all">
        <a class="flex py-4 items-center static text-2xl" href="login.html">Log in</a>
      </li>
    </ul>
  </div>
</div>

<div id="main-container" class="flex flex-col gap-10 w-full items-center my-10" hx-boost="true" hx-target="#main-container" hx-swap="innerHTML swap:300ms settle:300ms show:window:top">
  {{ end }}

  {{ template "content" . }}

  {{ if not .isHXRequest }}
</div>
</body>

</html>
{{ end }}