{{ if not .isHXRequest }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/hyperscript.min.js"></script>
  <script src="/js/htmx.min.js"></script>
</head>

<body class="bg-neutral-900 text-white">
  <nav class="flex align-center py-3 px-4 sticky top-0 bg-neutral-800 z-50 md:flex-nowrap flex-wrap md:justify-start">
    <div hx-boost="true" hx-target="#main-container" hx-swap="innerHTML swap:300ms settle:300ms show:window:top"
         class="flex md:flex-nowrap flex-wrap items-center justify-between w-full mr-auto ml-auto">
      <a class="text-2xl py-[0.3125rem] mr-4 no-highlights" href="/">blog.simoni.dev</a>
      <input class="peer hidden" type="checkbox" id="navbar-check"
        _="on change if event.currentTarget.checked then
          remove .collapsed from #navbar then
          add .collapsing to #navbar then
          measure #navbar scrollHeight then
          add { height: ${scrollHeight}px; } to #navbar then
          settle then
          add .collapsed to #navbar then
          add .show to #navbar then
          remove .collapsing from #navbar
        else
          add .collapsing to #navbar then
          remove .collapsed from #navbar then
          remove .show from #navbar then
          add { height: 0px; } to #navbar then
          settle then
          add .collapsed to #navbar then
          remove .collapsing from #navbar
        end" />

      <label class="md:hidden peer-checked:[&>#bar1]:translate-y-2 peer-checked:[&>#bar1]:rotate-45 peer-checked:[&>#bar2]:opacity-0 peer-checked:[&>#bar2]:translate-x-4 peer-checked:[&>#bar3]:-translate-y-2 peer-checked:[&>#bar3]:-rotate-45" for="navbar-check">
        <div id="bar1" class="my-1 h-1 w-6 bg-white rounded-full transition-transform duration-300"></div>
        <div id="bar2" class="my-1 h-1 w-6 bg-white rounded-full transition-all duration-300"></div>
        <div id="bar3" class="my-1 h-1 w-6 bg-white rounded-full transition-transform duration-300"></div>
      </label>

      <div id="navbar" class="flex md:basis-auto basis-full flex-grow-[1] items-center collapsed">
        <ul class="flex flex-col pl-0 mb-0 list-none mt-2 me-auto md:flex-row">
          <li
                  class="flex pt-1 mr-6 md:hover:text-purple-600 active:text-purple-600 md:hover:border-b-purple-600 border-b-2 border-b-transparent transition-all">
            <a class="flex py-4 items-center static text-2xl no-highlights" href="/">Home</a>
          </li>
          <li
                  hx-boost="false"
                  class="flex pt-1 mr-6 md:hover:text-purple-600 active:text-purple-600 md:hover:border-b-purple-600 border-b-2 border-b-transparent transition-all">
            <a class="flex py-4 items-center static text-2xl no-highlights" href="https://simoni.dev/">Portfolio</a>
          </li>
          <li
                  class="hidden flex pt-1 mr-6 hover:text-purple-600 hover:border-b-purple-600 border-b-2 border-b-transparent transition-all">
            <a class="flex py-4 items-center static text-2xl" href="login.html">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div id="main-container" class="flex flex-col gap-10 w-full items-center my-10" hx-boost="true" hx-target="#main-container" hx-swap="innerHTML swap:300ms settle:300ms show:window:top">
  {{ end }}

    {{ template "content" . }}

  {{ if not .isHXRequest }}
</div>
</body>

</html>
{{ end }}