@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply text-white;
}

body {
    @apply bg-neutral-800;
}

.htmx-swapping {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.htmx-settling {
    opacity: 100;
    transition: opacity 300ms ease-out;
}