@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply text-mantis-400;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.55);
}

.htmx-swapping {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.htmx-settling {
    transition: opacity 300ms ease-out;
}

.no-highlights{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.collapsed:not(.show) {
    display: none;
}

.collapsing {
    display: block;
    overflow: hidden;
    transition: height 0.35s ease;
}

.collapsed.show {
    display: block;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.35s ease;
}

.fade-in {
    opacity: 1 !important;
}

/*
 Blog Post Styles Start
 */

.code-block-wrapper {
    @apply relative;
}

.code-block-copy {
    @apply absolute;
    @apply top-4;
    @apply right-4;
    @apply p-2;
    @apply text-white;
    @apply text-sm;
    @apply bg-glass;
    @apply rounded-md;
    @apply z-10;
}

.post-body {
    @apply text-lg;
}

.post-body h1 {
    @apply underline;
}

.post-body h2 {
    @apply underline;
    @apply mt-6;
}

.post-body h3 {
}

.post-body h2, .post-body p, .post-body ul, .post-body ol,
.post-body pre, .post-body blockquote {
    @apply mb-4;
}

p > code {
    @apply bg-glass;
    @apply rounded-md;
    @apply p-1;
    @apply text-white;
}

.post-body pre {
    @apply bg-glass;
    @apply p-2;
    @apply rounded;
    @apply overflow-x-auto;
}

.post-body a {
    @apply underline;
}

.post-body ol {
    @apply list-decimal;
}

.post-body ul {
    @apply list-disc;
}

.post-body ol, .post-body ul {
    @apply pl-8;
}

.post-body blockquote {
    @apply border-s-4;
    @apply border-neutral-700;
    @apply ps-3;
    @apply text-slate-500;
}