{{ define "content" }}
    <section class="md:w-1/2 w-5/6">
        <h1 class="mb-4">
            {{ .post.Title }}
        </h1>
        <h2 class="mb-6 text-gray-400">
            @{{ .post.Author }}
        </h2>
        <div class="mb-4 post-body">
            {{ .contentHtml }}
        </div>
        <div class="flex gap-4 text-xl">
                            <span class="text-gray-400">
                                {{ .post.CreatedAt | formatAsDateTime }}
                            </span>
            <div class="flex gap-2">
                {{ range .post.Tags }}
                <a class="text-purple-600 hover:underline hover:text-purple-400 transition" href="/tag/{{ .Name }}">
                    #{{ .Name }}
                </a>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}