{{ define "content" }}
    <section class="md:w-1/2 w-5/6">
        <h1 class="mb-4">
            {{ .post.Title }}
        </h1>
        <h2 class="mb-6 text-gray-400">
            @{{ .post.Author }}
        </h2>
        <div class="relative">
            {{ if $.authed }}
                <div class="absolute right-0 -top-8">
                    <button hx-get="{{ $.adminRoute }}/edit/{{ .post.ID }}" hx-target="#main-container" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" aria-label="Delete Post">
                        <span>Edit</span>
                    </button>
                </div>
            {{ end }}
            <div class="mb-4 post-body">
                {{ .contentHtml }}
            </div>
        </div>
        <div class="flex flex-wrap gap-4 text-xl">
                            <span class="text-gray-400">
                                {{ .post.CreatedAt | formatAsDateTime }}
                            </span>
                {{ range .post.Tags }}
                <a class="text-purple-600 hover:underline hover:text-purple-400 transition" href="/tag/{{ .Name }}">
                    #{{ .Name }}
                </a>
                {{ end }}
        </div>
    </section>
{{ end }}