package components

import "blog.simoni.dev/templates"

templ Title(oobSwap bool) {
    <title id="pageTitle"
        if oobSwap {
            hx-swap-oob="true"
        }
    >{ templates.GetPageTitle(ctx) }</title>
}